/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #1880c5;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Barra de navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #060e24;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Lista de autos */
.auto-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.auto-item {
    background-color: white;
    margin: 15px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.auto-item img {
    max-width: 100%;
    border-radius: 8px;
}

/* Sección de contacto */
h2 {
    margin-top: 40px;
    color: #333;
}

/* Pie de página */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}













